<!DOCTYPE html>
<html>
    <head>
        <title>
            My web app
        </title>
        <body>
            <h1> OMG</h1>
            <p> I'm on the internet. Not everything is working but this workig.</p>
        </body>
    </head>
</html>